.Patient {
  margin-top: 80px;
}

// === Table === //

.table-action-btn {
  svg {
    margin-right: 7px;
    cursor: pointer;
  }
}

.alert {
  text-align: center;
}

.ant-table-thead {
  tr {
    height: 83.333px;
  }
}
