.profile {
  margin-top: 75px;

  form {
    padding: 150px 0px 115px 0px;
    .form-control {
      font-family: inherit;
    }
  }

  .Form-row {
    display: flex;
    justify-content: space-between;

    .form-group {
      width: 49%;
    }
  }

  .save-btn {
    text-align: center;
  }
}
